<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1>URL Shortener</h1>

   <form action="" method="POST"> <!-- Ask for full url to shrink --> 
    <label for="fullUrl">Url</label>
    <input type="url" name="fullUrl" id="fullUrl">
    <button type="submit">Shrink</button>
   </form>

   <table>
    <thead>
        <tr>
            <th>Full URL</th>
            <th>Short URL</th>
            <th>Clicks</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="https://www.linkedin.com/in/will-m-reed/">
                https://www.linkedin.com/in/will-m-reed/</a></td>
            <td><a href="https://google.com">https://google.com</a></td>
            <td>10</td>
        </tr>
    </tbody>
   </table>
</body>
</html>